<div class="detalhe-receita-container" *ngIf="receita">

    <header [style.backgroundImage]="'url(/assets/'+ receita.imageLarge +')'">
        <nav class="back-nav">
            <a href="/receitas"> Voltar</a>
        </nav>

        <div class="prep-time">
            <span>Tempo de preparo</span>
            <strong>{{ receita.prepTime }} minutos</strong>
        </div>

        <div class="title-container">
            <h1>{{ receita.title }}</h1>
            <h2>{{ receita.description }}</h2>
        </div>
    </header>


    <div class="ingredients">
        <h3>Ingredientes</h3>
        <ul>
            <li class="ingredient-item {{ ingredient.checked ? 'checked' : '' }}" (click)="checkItem(ingredient)" *ngFor="let ingredient of receita.ingredients">
                <div class="icon-check"></div>
                <span class="name">{{ ingredient.amount }} {{ ingredient.name }}</span>
            </li>
        </ul>
    </div>

    <div class="steps">
        <h3>Modo de preparo</h3>
        <ul>
            <li class="step-item  {{ step.checked ? 'checked' : '' }}" (click)="checkItem(step)" *ngFor="let step of receita.steps">
                <div class="icon-check"></div>
                
                <div class="step-text">
                    <strong>Passo {{ step.step }}</strong>
                    {{ step.description }}
                </div>
            </li>
        </ul>
    </div>

    <div class="bottom-bar">
        <button type="button" (click)="finishPrep()" class="{{ !isAllChecked() ? 'disabled' : '' }}" [disabled]="!isAllChecked()">Finalizar preparação</button>
    </div>

    <div class="modal-container" *ngIf="showModal">
        <div class="modal-box">
            <h6>OBRIGADO</h6>
            <p>Prato finalizado com sucesso!</p>
            <button (click)="goToMain()" type="button">OK</button>
        </div>
    </div>
</div>
